<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<button ng-click="viewCart();" ng-if="isCartIconVisible"
                class="button cart-button button-fab button-fab-bottom-right">
			<div class="cartIcon">{{cartItems}}</div>
		</button>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="expanded">
			<a ng-href="#/app/dashboard">
				<img ng-src="img/default-avatar.png"/>
			</a>
		</ion-header-bar>
		<ion-content class="has-expanded-header">
			<ion-list>
				<ion-item menu-close href="#/app/dashboard">
					<i class="ion-ios-home">
						<span>Home</span>
					</i>
				</ion-item>
				<ion-item menu-close href="#/app/profile" ng-if="userLoggedIn">
					<i class="ion-ios-person">
						<span>My Profile</span>
					</i>
				</ion-item>
				<ion-item menu-close href="#/app/orderHistory" ng-if="userLoggedIn">
					<i
                        class="ion-clipboard">
						<span>My Orders</span>
					</i>
				</ion-item>
				<ion-item>
					<i class="ion-paper-airplane" ng-click="showsubmenu = !showsubmenu" ng-init="showsubmenu=false">
						<span>Categories</span>
					</i>
					<ion-item menu-close href="#/app/products/{{catObj.category_id}}/{{catObj.name}}"
                                  ng-repeat="catObj in accordionArray" ng-show="showsubmenu">
						<i class="icon-ios-navigate">
							<span>{{catObj.name}}</span>
						</i>
					</ion-item>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>