<ion-view hide-nav-bar="true" can-swipe-back="false">
  <ion-content class="padding connectionView" scroll="false">
		<div class="noConnection" ng-show="!online" >
			<img src="img/no-connection.png"  >
			<h4>Can't Connect</h4>
			<p>Please check your network connection.</p>
			<br/>
		<!--	<a class="button button-positive" ng-click="checkConnection();">TRY AGAIN</a> -->
		</div>
  </ion-content>
</ion-view>