<ion-view view-title="Order Details">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ng-click="$ionicGoBack()"
                    class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" overflow-scroll="true" class="orderForm">
        <ion-content scroll="true" lazy-scroll>
            <ion-header-bar class="bar-stable">
                <h1 class="title">Order No#{{orderDetail.order_id}}</h1>
            </ion-header-bar>
            <br/>
            <br/>
				<div id="loader" ng-show="showLoadder"></div>
				<div ng-hide="showLoadder">
            <div class="row header">
                <div class="col col-center"><b> Order No</b></div>
                <div class="col col-center"><b> Payment</b></div>
                <div class="col col-center"><b> Total</b></div>
                <div class="col col-center"><b> Delivered</b></div>
            </div>
            <div class="row">
                <div class="col col-center">#{{orderDetail.order_id}}</div>
                <div class="col col-center">{{orderDetail.payment_method}}</div>
                <div class="col col-center">&#8377;{{orderDetail.total | number : 2}}</div>
                <div class="col col-center">{{deliveryData.date}}</div>
            </div>
            <hr />
            <div class="row header">
                <div class="col col-20"><b> Name</b></div>
				<div class="col col-20"><b> Options</b></div>
                <div class="col col-20"><b> Unit</b></div>
                <div class="col col-20"><b> Price</b></div>
                <div class="col col-20"><b> Total</b></div>
            </div>
            <div class="row" ng-repeat="tmpObj in orderDetail.products">
                <div class="col col-20">{{tmpObj.name}}</div>
				<div class="col col-20" ng-if="tmpObj.option.length==0">
					
				</div>
                <div class="col col-20" ng-repeat="op in tmpObj.option">
					<p>{{op.value}}</p>
				</div>
                <div class="col col-20">{{tmpObj.quantity}}</div>
                <div class="col col-20">{{tmpObj.price}}</div>
                <div class="col col-20">{{tmpObj.total}}</div>
            </div>
			</div>
        </ion-content>
    </ion-content>
</ion-view>
