<ion-view view-title="Search">
    <ion-nav-title>Search</ion-nav-title>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ng-click="$ionicGoBack()"
                    class="button back-button button-icon button-clear header-item ion-ios-arrow-back"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-subheader">
        <!-- items -->
        <ion-scroll direction="y" style="height:400px;">
            <div class="list" style="border:#ff0000 1px solid;  ">
                <div>
                    <img src="http://img1.exportersindia.com/product_images/bc-small/dir_55/1620613/cannondale-jekyll-1-2011-mountain-bike-309779.jpg"
                         alt="item" width="100"/>
                    <add-to-cart-button>Add to cart</add-to-cart-button>
                </div>
                <div>
                    <img src="http://img1.exportersindia.com/product_images/bc-small/dir_55/1620613/cannondale-jekyll-1-2011-mountain-bike-309779.jpg"
                         alt="item" width="100"/>
                    <add-to-cart-button>Add to cart</add-to-cart-button>
                </div>
                <div>
                    <img src="http://img1.exportersindia.com/product_images/bc-small/dir_55/1620613/cannondale-jekyll-1-2011-mountain-bike-309779.jpg"
                         alt="item" width="100"/>
                    <add-to-cart-button>Add to cart</add-to-cart-button>
                </div>
                <div>
                    <img src="http://img.tjskl.org.cn/pic/z2577d9d-200x200-1/pinarello_lungavita_2010_single_speed_bike.jpg"
                         alt="item" width="100"/>
                    <add-to-cart-button>Add</add-to-cart-button>
                </div>
                <div>
                    <img src="http://img1.exportersindia.com/product_images/bc-small/dir_55/1620613/cannondale-jekyll-1-2011-mountain-bike-309779.jpg"
                         alt="item" width="100"/>
                    <add-to-cart-button>Add to cart</add-to-cart-button>
                </div>
            </div>
        </ion-scroll>
        <span><i class="shopping-cart"></i></span>
    </ion-content>
</ion-view>
