<ion-view view-title="My Orders">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu();"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-loop" ng-click="reloadOrder();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" overflow-scroll="true" class="orderForm">
        <ion-content class="cartSubContent" scroll="true" lazy-scroll>
            <ion-header-bar class="bar-stable">
                <h1 class="title">My Orders</h1>
            </ion-header-bar>
            <br />
            <br />
			<div id="loader" ng-show="showLoadder"></div>
            <div class="row header">
                <div class="col"><b>Order No</b></div>
                <div class="col"><b>Total</b></div>
                <div class="col"><b>Status</b></div>
                <div class="col"><b>Action</b></div>
            </div>
            <div class="row" ng-repeat="tmpObj in orders | limitTo : 10" ng-hide="showLoadder">
                <div class="col">#{{tmpObj.order_id}}</div>
                <div class="col">{{tmpObj.total}}</div>
                <div class="col">{{tmpObj.status}}</div>
                <div class="col">
                    <a href="#/app/orderDetail/{{tmpObj.order_id}}">View</a>
                <div ng-if="tmpObj.status=='Pending'"> <a confirmed-click="cancelOrder(tmpObj.order_id)"
                                     ng-confirm-click="Are you sure you want to Cancel this order?">Cancel</a>
                </div>
                </div>
            </div>
            <div class="emptycart" ng-if="orders==''">
                <p style="text-align:center"><i class="ion-ios-cart"></i> There are no orders to display. Enjoy great shopping experience with us!</p>
                <p style="text-align:center"><a ng-href="#/app/dashboard" class="button button-balanced">Start Shopping</a></p>
            </div>
        </ion-content>

    </ion-content>
</ion-view>
