<ion-view view-title="Maintenance">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
        <ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
            <ion-slide ion-slide-tab-label=" Electrical Maintenance" class="iniform">
                <form name="maintenanceForm" class="formStyle padding"
                      ng-submit="maintenanceFormSubmit(maintenanceForm);" novalidate>
                    <div class="list">
                        <!-- Phone -->
                        <label class="item item-input">
                            <input type="tel" name="Phone" value="{{userData.telephone}}"
                                   ng-model="maintain.phone" readonly/>
                        </label>
                        <!-- Another Phone -->
                        <label class="item item-input"
                               ng-class="{ 'has-errors' : maintenanceForm.Another.$invalid, 'no-errors' : maintenanceForm.Phone.$valid}">
                            <input type="tel" placeholder="Optional Phone" name="Another" ng-minlength="10"
                                   ng-maxlength="10" maxlength="10" ng-model="maintain.optional"
                                   ng-pattern="/^[0-9]+$/"/>
                        </label>
                        <div class="error-container" ng-show="maintenanceForm.Another.$error"
                             ng-messages="maintenanceForm.Another.$error">
                            <div ng-messages-include="phone-validate.html"></div>
                        </div>
                        <!-- Comment -->
                        <label class="item item-input">
                            <textarea style="height:100px;" rows="10" cols="50" ng-model="maintain.comment" required
                                      placeholder="Your Query"></textarea>
                        </label>
                        <button class="button button-block icon-left button-balanced"
                                ng-disabled="maintenanceForm.$invalid">Submit
                        </button>
                        <!--<button class="button button-block icon-left button-balanced" ng-click="clearData()">Cancel
                        </button>-->
                    </div>
                </form>
            </ion-slide>
        </ion-slide-box>
        <script id="phone-validate.html" type="text/ng-template">
            <div class="error" ng-message="minlength"> Minimum length of this field is 10 characters!</div>
            <div class="error" ng-message="maxlength"> Maximum length of this field is 10 characters!</div>
        </script>
    </ion-content>
</ion-view>