<ion-view view-title="Profile">
    <ion-content class="profileBg">
        <div class="profilePic">
            <a><img ng-src="img/default-avatar.png"></a>
        </div>
        <div class="list">
            <div class="item item-icon-left"><i class="icon ion-person"></i>{{userData.firstname}}&nbsp{{userData.lastname}}
            </div>
            <div class="item item-icon-left"><i class="icon ion-email"></i><span style="text-transform: lowercase;">{{userData.email}}</span>
            </div>
            <div class="item item-icon-left"><i class="icon ion-android-call"></i>{{userData.telephone}}</div>
        </div>
		<div class="row">
			  <button class="button button-large button-assertive" ng-click="showPopup()">Change Password</button>&nbsp;
			  <button class="button button-large button-assertive" confirmed-click="logout()" ng-confirm-click="Are you sure you want to Logout?">Logout</button>
        </div>
		<script id="popup-template.html" type="text/ng-template">
			<input ng-model="changePassword.password" type="password" placeholder="Password">
			<input ng-model="changePassword.confirm" type="text" placeholder="Confirm Password">
		</script>
    </ion-content>
</ion-view>