<ion-view view-title="Select Address">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ng-click="$ionicGoBack()"
                    class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-small button-clear ion-plus" ng-click="addAddress();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="checkoutBar">
        <div class="bar bar-footer">
            <div class="row">
                <div class="col">
                    <div class="centerAlign"><i class="fa fa-rupee" aria-hidden="true"></i>{{cartTotal}}</div>
                </div>
                <div class="col">
                    <div class="chckout" ng-click="deliveryOptions()">Continue <i class="ion-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
	<div id="loader" ng-show="showLoadder"></div>
    <ion-content class="shoppingCart" scroll="false" overflow-scroll="true">
        <div style="border-bottom:#ccc 1px solid;padding-bottom:20px;">
            <div class="cartStatus">
                <span class="first active"><i class="ion-home"></i> <label>Delivery Address</label></span>
                <span class="second "><i class="ion-checkmark"></i> <label>Delivery Timing</label></span>
                <span class="third"><i class="ion-checkmark"></i> <label>Confirm Order</label></span>
            </div>
        </div>
        <ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
            <ion-slide ion-slide-tab-label="Billing Address">
                <ion-content direction="y" class="subContent" scroll="true" ng-hide="showLoadder">
                    <div class="deliveryBox" style="border:0px;margin-top:0px;">
                        <div class="list deliveryAddress">
                            <div class="item rmovePadding" ng-repeat="billObj in billAddresses">
                                <ion-radio ng-model="billingAddress" name="billingAddress"
                                           ng-value="'{{billObj.address_id}}'"
                                           ng-click="selectBillAddress(billObj.address_id);">{{billObj.address_1}}
                                    <label></label></ion-radio>

                            </div>
                            <p ng-if="!billAddresses" class="addressError">No Billing Address Found</p>
                        </div>
                    </div>
                </ion-content>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Shipping Address">
                <ion-content direction="y" class="subContent" scroll="true" ng-hide="showLoadder">
                    <div class="deliveryBox" style="border:0px;margin-top:0px;">
                        <div class="list deliveryAddress">
                            <div class="item rmovePadding" ng-repeat="shipObj in shipAddresses">
                                <ion-radio ng-model="shippingAddress" name="shppingAddress"
                                           ng-value="'{{shipObj.address_id}}'"
                                           ng-click="selectShipAddress(shipObj.address_id);">{{shipObj.address_1}}
                                    <label></label></ion-radio>
                            </div>
                            <p ng-if="!shipAddresses" class="addressError">No Shipping Address Found</p>
                        </div>
                    </div>
                </ion-content>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
