<ion-view view-title="Delivery Options  ">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ng-click="$ionicGoBack()"
                    class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!-- <div class="checkoutBar" ng-if="cartProducts!=''"> -->
    <div class="checkoutBar">
        <div class="bar bar-footer">
            <div class="row">
                <div class="col">
                    <div class="centerAlign"><i class="fa fa-rupee" aria-hidden="true"></i>{{cartTotal}}</div>
                </div>
                <div class="col">
                    <div class="chckout" ng-click="placeOrder()">Continue <i class="ion-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="shoppingCart">
        <div class="cartStatus">
            <span class="first completed"><i class="ion-home"></i> <label>Delivery Address</label></span>
            <span class="second active"><i class="ion-checkmark"></i> <label>Delivery Timing</label></span>
            <span class="third"><i class="ion-checkmark"></i> <label>Confirm Order</label></span>
        </div>
        <div class="deliveryBox">
			<div id="loader" ng-show="showLoadder"></div>
            <div class="list deliveryOptions" ng-hide="showLoadder">
                <div class="item item-divider">Choose Shipping Method</div>
                <div class="item rmovePadding" ng-repeat="obj in shippingData">
                    <ion-radio ng-model="shppingMethod" ng-repeat="sobj in obj.quote" ng-value="'{{sobj.code}}'"
                               ng-click="selectShipMethod(sobj);">
                        <span class="fa fa-inr"> {{sobj.cost}}</span>&nbsp; {{sobj.title}} <label></label>
                    </ion-radio>
                </div>
                <div class="item item-divider">Delivery</div>
                <div class="item">
                    <p>Delivery Date</p>
                    <div class="datepick" ng-model="currntDate" ng-click="openDatePicker()" ng-readonly="true">{{currntDate}}</div>
                    <p ng-hide="true">Delivery Time</p>
                    <label class="item item-input item-select" ng-hide="true">
                        <select name="repeatSelect" id="repeatSelect" ng-model="deliveryTime.model">
                            <option ng-repeat="option in deliveryTime.availableOptions" value="{{option.name}}">{{option.name}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
