<ion-view view-title="Place Order">
<ion-nav-bar class="bar-stable">
	<ion-nav-buttons side="left">
	<button ng-click="$ionicGoBack()" class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
	</ion-nav-buttons>
</ion-nav-bar>

<!-- <div class="checkoutBar" ng-if="cartProducts!=''"> -->
<div class="checkoutBar">
	<div class="bar bar-footer">
		<div class="row">
			<div class="col">
				<div class="centerAlign" ><i class="fa fa-rupee" aria-hidden="true"></i>{{cartTotal}}</div>
			</div> 
			<div class="col"><div class="chckout" ng-click="orderConfirm()" ng-hide="processingOrder">Place Order</div>
			<div class="chckout" ng-show="processingOrder">Processing</div></div> 
		</div> 
	</div>
</div>
<ion-content class="shoppingCart" >
	<div class="cartStatus">
		<span class="first completed"><i class="ion-home"></i> <label>Delivery Address</label></span>
		<span class="second completed"><i class="ion-checkmark"></i> <label>Delivery Timing</label></span>
		<span class="third active"><i class="ion-checkmark"></i> <label>Confirm Order</label></span>
	</div>
	
	<div class="deliveryBox" >
		<div id="loader" ng-show="showLoadder"></div>
		<div class="list placeOrder" ng-hide="showLoadder">
			 <form name="discountForm" ng-if="couponCode==''" ng-submit="getCouponDiscount(discountForm);" novalidate >
			  <div class="item item-button-right">
				 <input type="text" ng-model="discountData.coupon" placeholder="Enter Discount Coupon" maxlength="10" >
				 <button class="button button-small button-balanced">Apply</button>
			  </div>
			  </form>
			  <div class="item item-button-right" ng-if="couponCode != ''">
				 <input type="text" value="{{couponCode}}"  readonly>
				 <button class="button button-small button-balanced" ng-click="cancelCoupon()">Cancel</button>
			  </div>

			   <div class="item item-divider">Cart Details </div>
			   <div ng-repeat="cartDetailObj in cartDetailObjects">
					<div class="item item-icon-right"  > {{cartDetailObj.title}} <i class="icon catamounts" ><i class="fa fa-rupee" aria-hidden="true"></i>{{cartDetailObj.value}}</i>  </div>
			   </div>


			   <div class="item item-divider">Choose Payment Method </div>
			   <div class="item rmovePadding" ng-repeat="pObj in paymentOptions">
				 <ion-radio ng-model="paymentMethod" ng-value="'{{pObj.code}}'" ng-click="selectPaymentMethod(pObj);" >{{pObj.title}} <label></label></ion-radio>
			 </div>
		</div>
	</div>

</ion-content>
</ion-view>
