<ion-view view-title="Dashboard">
    <ion-nav-title>
        <div class="logo">E-Polythene Store</div>
    </ion-nav-title>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ng-click="toggleLeftSideMenu();" class="button button-icon button-clear ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-search" ng-click="searchShowOk();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content lazy-scroll class="orderForm">
        <div class="sliderBox">
            <div class="slider-page-bg"></div>
            <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" ng-if="bannerData.length">
                <ion-slide ng-repeat="img in bannerData">
                    <img ng-src="{{img.image}}" class="sliderImg" width="100%">
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="row" ng-repeat="catObj in accordionArray" ng-if="$index%2==0">
            <div class="col-50"
                 ng-repeat="catObj in accordionArray.slice($index, ($index+3 > accordionArray.length ? accordionArray.length : $index+2))">
                <p ng-if="catObj.image!=null"><a href="#/app/products/{{catObj.category_id}}/{{catObj.name}}">
                    <img ng-src="{{catObj.image}}" style="width:150px; height:150px;" align="center"/></a>
                </p>
                <p ng-if="catObj.image==null"><a href="#/app/products/{{catObj.category_id}}/{{catObj.name}}">
                    <img ng-src="img/noimage.jpg" style="width:150px; height:150px;" align="center"/>
                </a>
                </p>
                <h5 style="text-align: center; border: 1px solid rgb(204, 204, 204); padding: 5px;margin-right: 10px; background-color: rgb(204, 204, 204);">
                    {{catObj.name|uppercase}}</h5>
            </div>
        </div>
        <div class="col-sm-4">
            <button class="button button-clear button-positive">Featured Product</button>
        </div>
        <div class="row">
            <div class="col" ng-repeat="catObj in ads2Data"><a href="{{catObj.link}}"><img
                    ng-src="{{catObj.image}}" width="100%"/></a></div>
        </div>
    </ion-content>
</ion-view>