<ion-view hide-nav-bar="true" can-swipe-back="false">
    <ion-content class="padding iniLogin">
        <div class="logo"><img ng-src="img/logo-150x150.png" width="200"></div>
        <div class="signupBtn" ng-click="signupButton();">Signup</div>
        <div class="loginBtn" ng-click="loginButton();">Login</div>
        <div class="skipBtn" ng-click="guestButton();">Guest User</div>
    </ion-content>
</ion-view>