<ion-view view-title="Signup">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ng-click="$ionicGoBack()"
                    class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="iniform padding iniLogin">
        <form name="iniRegisterForm" class="formStyle" ng-submit="userRegister(iniRegisterForm);" novalidate>
            <div class="list">
                <!-- First and Last Name -->
                <div class="row">
                    <div class="col">
                        <label class="item item-input"
                               ng-class="{ 'has-errors' : iniRegisterForm.firstname.$invalid, 'no-errors' : iniRegisterForm.firstname.$valid}">
                            <input type="text" placeholder="First Name" name="firstname"
                                   ng-model="iniRegister.firstname" ng-minlength="3" ng-maxlength="20" maxlength="20"
                                   required>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input"
                               ng-class="{ 'has-errors' : iniRegisterForm.lastname.$invalid, 'no-errors' : iniRegisterForm.lastname.$valid}">
                            <input type="text" placeholder="Last Name" name="lastname" ng-model="iniRegister.lastname"
                                   ng-minlength="3" ng-maxlength="20" maxlength="20" required>
                        </label>
                    </div>
                </div>
                <div class="error-container" ng-show="iniRegisterForm.firstname.$error"
                     ng-messages="iniRegisterForm.firstname.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <div class="error-container" ng-show="iniRegisterForm.lastname.$error"
                     ng-messages="iniRegisterForm.lastname.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Mobile and Zipcode -->
                <div class="row">
                    <div class="col">
                        <label class="item item-input"
                               ng-class="{ 'has-errors' : iniRegisterForm.telephone.$invalid, 'no-errors' : iniRegisterForm.telephone.$valid}">
                            <input type="tel" placeholder="Mobile Number" name="telephone" ng-minlength="10"
                                   ng-maxlength="10" maxlength="10" ng-model="iniRegister.telephone" required
                                   ng-pattern="/^[0-9]+$/">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input"
                               ng-class="{ 'has-errors' : iniRegisterForm.postcode.$invalid, 'no-errors' : iniRegisterForm.postcode.$valid}">
                            <input type="tel" placeholder="Post Code" name="postcode" ng-model="iniRegister.postcode"
                                   maxlength="10" required>
                        </label>
                    </div>
                </div>

                <div class="error-container" ng-show="iniRegisterForm.telephone.$error"
                     ng-messages="iniRegisterForm.telephone.$error">
                    <div ng-messages-include="phone-validate.html"></div>
                </div>
                <div class="error-container" ng-show="iniRegisterForm.postcode.$error"
                     ng-messages="iniRegisterForm.postcode.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Country -->
                <!--<label class="item item-input item-select"
                       ng-class="{ 'has-errors' : iniRegisterForm.country_id.$invalid, 'no-errors' : iniRegisterForm.country_id.$valid}">
                    <select ng-model="iniRegister.country_id"
                            ng-options="cObj.country_id as cObj.name for cObj in cuntryData" required></select>
                </label>-->
                <div class="error-container" ng-show="iniRegisterForm.country_id.$error"
                     ng-messages="iniRegisterForm.country_id.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <label class="item item-input item-select"
                       ng-class="{ 'has-errors' : iniRegisterForm.city.$invalid, 'no-errors' : iniRegisterForm.city.$valid}">
                    <select ng-model="iniRegister.city" ng-options="Obj.city as Obj.name for Obj in cityData"></select>
                </label>
                <div class="error-container" ng-show="iniRegisterForm.city.$error"
                     ng-messages="iniRegisterForm.city.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <div class="error-container" ng-show="iniRegisterForm.city.$error"
                     ng-messages="iniRegisterForm.city.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>

                <!--LandMark -->
                <label class="item item-input"
                       ng-class="{ 'has-errors' : iniRegisterForm.fax.$invalid, 'no-errors' : iniRegisterForm.fax.$valid}">
                    <input type="text" placeholder="Landmark" name="fax" ng-model="iniRegister.fax"
                           ng-minlength="3" ng-maxlength="256" maxlength="100"/>
                </label>
                <!-- Address 2 -->
                <label class="item item-input"
                       ng-class="{ 'has-errors' : iniRegisterForm.address_1.$invalid, 'no-errors' : iniRegisterForm.address_1.$valid}">
                    <input type="text" placeholder="Address" name="address_1" ng-model="iniRegister.address_1"
                           ng-minlength="3" ng-maxlength="256" maxlength="100"/>
                </label>

                <div class="error-container" ng-show="iniRegisterForm.address_1.$error"
                     ng-messages="iniRegisterForm.address_1.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- State -->
                <!-- <label class="item item-input item-select"  ng-class="{ 'has-errors' : iniRegisterForm.city.$invalid, 'no-errors' : iniRegisterForm.city.$valid}">
                <select  ng-model="iniRegister.city" ng-options="Obj.city as Obj.name for Obj in cityData" ></select>
                </label>
                <div class="error-container" ng-show="iniRegisterForm.city.$error" ng-messages="iniRegisterForm.city.$error">
                <div ng-messages-include="error-list.html"></div>
                </div> -->
                <!-- Email -->
                <label class="item item-input"
                       ng-class="{ 'has-errors' : iniRegisterForm.email.$invalid, 'no-errors' : iniRegisterForm.email.$valid}">
                    <input type="email" placeholder="Email Address" name="email" ng-model="iniRegister.email" required>
                </label>

                <div class="error-container" ng-show="iniRegisterForm.email.$error"
                     ng-messages="iniRegisterForm.email.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Password  and Confirm Password-->
                <div class="row">
                    <div class="col">
                        <label class="item item-input"
                               ng-class="{ 'has-errors' : iniRegisterForm.password.$invalid, 'no-errors' : iniRegisterForm.password.$valid}">
                            <input type="password" placeholder="Password" name="password"
                                   ng-model="iniRegister.password" maxlength="20" ng-minlength="4" ng-maxlength="20"
                                   required>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input"
                               ng-class="{ 'has-errors' : iniRegisterForm.confirm.$invalid, 'no-errors' : iniRegisterForm.confirm.$valid}">
                            <input type="password" placeholder="Confirm Password" name="confirm"
                                   ng-model="iniRegister.confirm" maxlength="20" ng-minlength="4" ng-maxlength="20"
                                   ng-pattern="{{iniRegister.password}}" required>
                        </label>
                    </div>
                </div>
                <div class="error-container" ng-show="iniRegisterForm.password.$error"
                     ng-messages="iniRegisterForm.password.$error">
                    <div ng-messages-include="password-validate.html"></div>
                </div>
                <div class="error-container" ng-show="iniRegisterForm.confirm.$error"
                     ng-messages="iniRegisterForm.confirm.$error">
                    <div ng-messages-include="password-validate.html"></div>
                </div>
                <input type="hidden" name="agree" ng-model="iniRegister.agree" value="1">
                <button class="button button-block icon-left button-balanced"
                        ng-disabled="iniRegisterForm.$invalid">Register
                </button>
            </div>
        </form>
        <script id="error-list.html" type="text/ng-template">
            <div class="error" ng-message="minlength"> Minimum length of this field is 3 characters!</div>
            <div class="error" ng-message="maxlength"> Maximum length of this field is 50 characters!</div>
            <div class="error" ng-message="email"> Please enter a valid email address</div>
        </script>
        <script id="phone-validate.html" type="text/ng-template">
            <div class="error" ng-message="minlength"> Minimum length of this field is 10 characters!</div>
            <div class="error" ng-message="maxlength"> Maximum length of this field is 10 characters!</div>
        </script>
        <script id="password-validate.html" type="text/ng-template">
            <div class="error" ng-message="minlength"> Minimum length of this field is 4 characters!. Use combination of
                alphanumerical values for secure password.
            </div>
            <div class="error" ng-message="maxlength"> Minimum length of this field is 20 characters!. Use combination
                of alphanumerical values for secure password.
            </div>
            <div class="error" ng-message="pattern"> Must match the previous entry</div>
        </script>
    </ion-content>
</ion-view>
