<ion-view view-title="Product Detail">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ng-click="$ionicGoBack()"
                    class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="sliderBox">
            <div class="slider-page-bg"></div>
            <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" ng-if="productDetail.images.length">
                <ion-slide ng-repeat="img in productDetail.images">
                    <img ng-src="{{img}}" class="sliderImg" width="100%">
                </ion-slide>
            </ion-slide-box>
			<ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" ng-if="!productDetail.images.length">
                <ion-slide>
                    <img ng-src="{{productDetail.image}}" class="sliderImg" width="100%">
                </ion-slide>
            </ion-slide-box>
        </div>
		<div ng-model="message" ng-show="showMessage" class="message fadein fadeout" style="padding-left: 79px;
color: green;">{{message}}</div>
			<div class="row">			
				<h4>
					<span ng-bind-html="productDetail.name"></span>
				</h4>
			</div>
			<div class="row">
                    <h4>
                        <b>	<span class="price" id="sprice_{{tmpObj.id}}"
                                     ng-bind-html="productDetail.price_formated"
                                     ng-if="productDetail.special != '' && productDetail.special"></span>
                            <span class="saleprice" id="sprice_{{tmpObj.id}}"
                                  ng-bind-html="productDetail.price_formated"
                                  ng-if="productDetail.special == ''"></span>
                            <span class="saleprice" id="sprice_{{tmpObj.id}}"
                                  ng-bind-html="productDetail.special_formated" ng-if="productDetail.special"></span>
                        </b>
                    </h4>
            </div>
			<div ng-if="productDetail.description!=''">
				<div class="row" ng-click="showDescription = !showDescription" >			
					<a >More Information:</a>
				</div>
				<div class="row" ng-click="showDescription = !showDescription">			
					<div  ng-show="showDescription" ng-bind-html="productDetail.description"> 
				</div>
			</div>
			</div>
			<div class="list">
				<div class="row" ng-show="productDetail.quantity > 0">
                    <label class="item item-input"> <div class="col col-33"> Quantity *</div>
                        <div class="col col-25">
						<input class="item item-input" type="tel"
                               ng-model="quantityOrdered" ng-pattern="/^[0-9]+$/"
                               ng-minlength="1" required maxlength="10"
                               style="border: 1px solid rgb(204, 204, 204); border-radius: 5px;padding-left: 7px;">
						</div>
					</label>	
				</div>					
                    <div ng-repeat="tempOption in productDetail.options" class="row">
                        <label class="item item-input"> <div class="col col-33"> {{tempOption.name}}&nbsp;*</div>
							<div class="col col-67">
                                <select ng-model="optionsList.option[tempOption.product_option_id]" required="required"
                                         ng-options="level.product_option_value_id as level.name+'('+level.price_prefix+level.price_formated+')' for level in tempOption.option_value"
										 style="border: 1px solid rgb(204, 204, 204); border-radius: 10px;padding-left: 7px;">
									<option value="" style="border: 1px solid rgb(204, 204, 204); border-radius: 10px;padding-left: 7px;height: 32px;" >{{tempOption.name}}</option>
								</select>
							 </div>
                        </label>
                    </div>
				<div class="row" ng-show="productDetail.quantity > 0" >
					<button class="button button-full button-dark" ng-show="buyable" ng-click="AddToCart(productDetail,quantityOrdered)">
						Buy
					</button>
					<button class="button button-full button-dark" ng-hide="buyable">
						Processing>>>>
					</button>						
				</div>
				</div>
    </ion-content>
</ion-view>