<ion-view view-title="Products">
    <ion-nav-title>
        <span ng-show="showSearchButton">{{catname}}</span>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-hide="showSearchButton" autofocus ng-model="$parent.searchText"
                       placeholder="Search in {{catname}}" />
            </label>
        </div>
    </ion-nav-title>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu();"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" ng-show="showSearchButton">
            <button ng-show="showSearchButton" class="button button-icon button-clear ion-android-search"
                    ng-click="toggleSearch();"></button>
            <button ng-hide="showSearchButton" class="button button-icon button-clear ion-android-close"
                    ng-click="toggleSearch();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" overflow-scroll="true">
        <ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs>
            <ion-slide ion-slide-tab-label="All">
                <div id="loader" ng-show="showLoader"></div>
                <ion-content direction="y" class="subContent" scroll="true" lazy-scroll ng-hide="showLoader">
                    <div class="list products" ng-repeat="tmpObj in products | filter: $parent.searchText"
                         image-lazy-loader="img/no-product.png"
                         image-lazy-distance-from-bottom-to-load="-10">
                        <div class="item item-thumbnail-left">
                            <img image-lazy-src="{{tmpObj.image!=null ? tmpObj.image : 'img/no-product.png' }}"
                                 image-lazy-loader="img/no-product.png"
                                 image-lazy-distance-from-bottom-to-load="-10" ng-click="showProductDetail(tmpObj.id);">
                            <h2 ng-click="showProductDetail(tmpObj.id);">
                                <span ng-bind-html="tmpObj.name"></span>
                            </h2>
                            <h3 ng-if="tmpObj.model!= ''" ng-click="showProductDetail(tmpObj.id);">Product Code : {{tmpObj.model}}</h3>
                            <h3 ng-if="tmpObj.weight!= ''" ng-click="showProductDetail(tmpObj.id);">Weight : {{tmpObj.weight | number:2}} {{tmpObj.weight_class |
                                lowercase}}</h3>
                            <div class="row">
                                <div class="col col-40" ng-click="showProductDetail(tmpObj.id);">
                                    <span class="price" id="sprice_{{tmpObj.id}}"
                                          ng-bind-html="tmpObj.price_formated" ng-if="tmpObj.special != '' && tmpObj.special"></span>
                                    <span class="saleprice" id="sprice_{{tmpObj.id}}"
                                          ng-bind-html="tmpObj.price_formated" ng-if="tmpObj.special == ''"></span>
                                    <span class="saleprice" id="sprice_{{tmpObj.id}}"
                                          ng-bind-html="tmpObj.special_formated" ng-if="tmpObj.special"></span>
                                </div>
                                <div class="col col-60">
                                    <ul ng-if="tmpObj.quantity>0" id="cartbtn_{{tmpObj.id}}" class='tg-list' >
                                        <li class='tg-list-item' ng-if="tmpObj.options.length == '0'">
                                            <input class='tgl tgl-flip' id='cb{{tmpObj.id}}' checked
                                                   ng-if="selectId==tmpObj.id" type='checkbox'>
                                            <input class='tgl tgl-flip' id='cb{{tmpObj.id}}' ng-if="selectId!=tmpObj.id"
                                                   ng-click="AddToCart(tmpObj)" type='checkbox'>
                                            <label class='tgl-btn' data-tg-off='Buy' data-tg-on='Done'
                                                   for='cb{{tmpObj.id}}'></label>
                                        </li>
                                        <li ng-if="tmpObj.options.length > 0">
                                            <span ng-click="showProductDetail(tmpObj.id);" class='more-details'>More Detail</span>
                                        </li>
                                    </ul>
                                    <div ng-show="tmpObj.quantity<=0" id="nostock_{{tmpObj.id}}" class="outofStock">Not
                                        In Stock
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="noProudct" ng-if="noRecords">
                        <i class="ion-ios-cart"></i>

                        <p>Sorry! There are no products to display.</p>
                        <a ng-href="#/app/dashboard" class="button button-balanced">Start Shopping</a>
                    </div>
                </ion-content>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>