<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <div class="row searchBox">
            <div class="col col-20">
                <button ng-click="$ionicGoBack()"
                        class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
            </div>
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search in All Categories" autofocus
                           ng-model="$parent.searchProduct">
                </label>
            </div>
        </div>
    </ion-header-bar>
    <ion-content direction="y" class="subContent" scroll="true" lazy-scroll>
        <div class="list products" ng-repeat="tmpObj in searchAllProducts | filter: $parent.searchProduct | limitTo: 10"
             image-lazy-loader="img/no-product.png"
             image-lazy-distance-from-bottom-to-load="-10">
            <div class="item item-thumbnail-left">
                <img image-lazy-src="{{tmpObj.image!=null ? tmpObj.image : 'img/no-product.png' }}"
                     image-lazy-loader="img/no-product.png"
                     image-lazy-distance-from-bottom-to-load="-10" ng-click="showProductDetail(tmpObj.id);">
                <h2 ng-click="showProductDetail(tmpObj.id);">{{tmpObj.name | lowercase}}</h2>
                <h3 ng-click="showProductDetail(tmpObj.id);" ng-if="tmpObj.model!= ''">Product Code : {{tmpObj.model}}</h3>
                <h3 ng-click="showProductDetail(tmpObj.id);" ng-if="tmpObj.weight!=''">Weight : {{tmpObj.weight | number:2}} {{tmpObj.weight_class |
                    lowercase}}</h3>
                <div class="row">
                    <div class="col col-40">
									<span class="price" id="sprice_{{tmpObj.id}}"
                                          ng-bind-html="tmpObj.price_formated"
                                          ng-if="tmpObj.special != '' && tmpObj.special"></span>
                        <span class="saleprice" id="sprice_{{tmpObj.id}}"
                              ng-bind-html="tmpObj.price_formated" ng-if="tmpObj.special == ''"></span>
                        <span class="saleprice" id="sprice_{{tmpObj.id}}"
                              ng-bind-html="tmpObj.special_formated" ng-if="tmpObj.special"></span>
                    </div>
                    <div class="col col-60">
                        <ul ng-if="tmpObj.quantity>0" id="cartbtn_{{tmpObj.id}}" class='tg-list'>
                            <li class='tg-list-item' ng-if="tmpObj.options.length == '0'">
                                <input class='tgl tgl-flip' id='cb{{tmpObj.id}}' checked
                                       ng-if="selectId==tmpObj.id" type='checkbox'>
                                <input class='tgl tgl-flip' id='cb{{tmpObj.id}}' ng-if="selectId!=tmpObj.id"
                                       ng-click="AddProductToCart(tmpObj)" type='checkbox'>
                                <label class='tgl-btn' data-tg-off='Buy' data-tg-on='Done'
                                       for='cb{{tmpObj.id}}'></label>
                            </li>
                            <li ng-if="tmpObj.options.length > 0">
                                <span ng-click="showProductDetail(tmpObj.id);" class='more-details'>More Detail</span>
                            </li>
                        </ul>
                        <div ng-show="tmpObj.quantity<=0" id="nostock_{{tmpObj.id}}" class="outofStock">Not
                            In Stock
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>


