#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 75px;
  height: 75px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #222222;
  width: 75px;
  height: 75px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.menu .has-expanded-header .list .item i {
    font-size: 16px;
}

.bar .button.button-floating.disabled, .bar .button.button-floating:disabled, .bar .button.button-large.disabled, .bar .button.button-large:disabled, .bar .button.button:disabled, .bar .button.disabled, .bar .button.disabled.button-large, .button.button-floating.disabled, .button.button-floating:disabled, .button.button-large.disabled, .button.button-large:disabled, .button.button:disabled, .button.disabled, .button.disabled.button-large {
    background-color: #dfdfdf;
    box-shadow: none;
    color: #848484;
    font-weight: bold;
    opacity: 0.53;
}

.more-details {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #444;
  color: #FFF;
}